.col-9 {
  font-size: 2rem;
  justify-content: center;
  text-align: center;

  border-width: 1px;
  padding-bottom: 1rem;
}

.form-group {
  font-size: 3rem;
}

.btn btn-primary {
  font-size: 1.5em;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 1rem;
  background-color: rgb(246, 245, 233);
  color: rgb(168, 99, 50);
}
